# Ziyi's file
.DS_Store
.vscode
bin
build
back_up
dev_functions
Sample_data

# CMake
CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
Makefile

# pytest
.pytest_cache

# BTLS output files
BM_*.txt
SS_*.txt
RC_*.txt
FlowData_*.txt